*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.dex
*.class
*.apk
*.ap_
bin/
gen/
.gradle/
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/markdown-exported-files.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/
app/.idea/
app/local.properties
.idea/
*.iml~

# Built application files
/**/build/